fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
streamlit==1.49.1

langchain==1.0.0
langchain-community==0.4.1
langchain-openai==1.0.2
langchain-ollama==1.0.0
langchain-huggingface==1.0.0
langchain-chroma==1.0.0

chromadb==1.0.20
sentence-transformers==5.1.0
rank-bm25==0.2.2
pypdf==6.0.0
beautifulsoup4==4.13.5
requests==2.32.5
pydantic-settings==2.10.1
python-dotenv==1.1.1

ragas==0.3.4
datasets==4.0.0
pandas==2.3.2
